*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.btn:link, .btn:visited {
  color: #a8afbd;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: 1px solid blue; }

.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent), url(/img/header-bg.jpeg);
  background-size: cover;
  height: 100vh; }
  .header__nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0; }
  .header__logo {
    width: 250%; }

h4 {
  color: #1ce783; }
