@mixin margin-auto1 {
  width: 93%;
  margin: 0 auto;
}

@mixin margin-auto2{
  width: 75%;
  margin: auto;
}

@mixin center-vertical-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin displayflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin para-pry{
  color: $color-white;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin h3-plan{
  width: 100%;
  // font-size: $default-font-size;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
}

@mixin bottom-h4-plan{
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0;

  @include respond(tab-land){
    font-size: 1.8rem;
  }

  @include respond(phone){
    font-size: $default-font-size;
  }
}

@mixin default-typography{
  font-weight: 400;
  letter-spacing: 0;
}

// MEDIA QUERY MANAGER

/*
  0-600px: phone
  600-900px: tablet portrait
  900-1200px: tablet landscape
  1800px + big desktop
 
  $breakpoint argument choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop 

  ORDER: base + typography > general layout + grid > page layout > components
*/

@mixin respond-700px {
  @media (max-width: 700px) { @content };
}

@mixin respond-648px {
  @media (max-width: 648px) { @content };
}

@mixin respond-500px {
  @media (max-width: 500px) { @content };
}

@mixin respond-400px {
  @media (max-width: 400px) { @content };
}

@mixin respond($breakpoint){
  @if $breakpoint == phone{
    @media only screen and (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if $breakpoint == tab-port{
    @media only screen and (max-width: 56em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint == tab-land{
    @media only screen and (max-width: 75em) {
      // 1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop{
    @media only screen and (min-width: 112.5em) {
      // 1200px
      @content;
    }
  }
}