@mixin margin-auto1 {
  width: 93%;
  margin: 0 auto;
}

@mixin margin-auto2{
  width: 75%;
  margin: auto;
}

@mixin center-vertical-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin displayflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin para-pry{
  color: $color-white;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin h3-plan{
  display: inline;
  width: 50%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  border: 1px solid blue;
}