// COLORS

$color-pry: #1ce783;
// $color-pry: red;
$color-white: #fff;
$color-black: #000;
$grey1: #a8afbd;
$grey2: #323843;

$light-grey1: #ffffff66;
$light-grey2: #ffffff99;
$light-grey3: #bec0c2;
$light-grey4: #b8becc;
$border-grey-color: #c8c8c866;
$label-bg: #424957;

$bluish-black: #0b0c0f;



// LINE HEIGHTS
$lh132: 1.32;
$lh124: 1.24;
$lh146: 1.46;


// FONT-SIZES
$default-font-size: 1.4rem;
$_18px: 1.8rem;