  @import './variables';
    html,
    body {
        margin: 0;
        padding: 0;
    }
    nav{
        background-color: $primary;
        color: white;
        .logo-div{
            background-color: $tertiary;
        }
    }

    
