*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
header{
    background-image: url(./Hulu-imgs/header-background.jpeg);
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    margin: auto;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.55);
}
.logo-div img{
    width: 250%;
    color: #1ce783;
}
nav a{
    text-decoration: none;
    color: #a8afbd;
    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
    padding: 1.4rem;
}
nav a:hover{
    background-color: #535559;
    color: #fff;
    border-radius: .8rem;
    
}
nav span{
    font-size: 1.4rem;
    font-weight: 600;
}
.header-txt{
    color: #1ce783;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}
.header-img{
    width: 80%;
    margin: auto;
}
.header-img img{
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.header-txt2 h4{
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1.32;
    margin: 1rem 0;
}
.btn-header{
    background-color: #1ce783;
    text-align: center;
    width: 50%;
    padding: 1.5rem 0;
    border-radius: .5rem;
    margin: auto;
    margin-top: 2rem;
    transition-duration: 200ms;
    transition-property: opacity;
    transition-timing-function: ease;
}
.btn-header:hover{
    opacity: 0.6;
}
.btn-header span{
    font-size: 1.5rem;
    font-weight: 700;
}
.header-flex{
    color: #a8afbd;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    margin: auto;
}
.included, .bundle{
    border-bottom: 1px solid #a8afbd;
}