@keyframes bounce{
    0%{
        transform: translateY(-.1rem);
    }

    50%{
        transform: translateY(.8rem);
    }

    100%{
        transform: translateY(-.1rem);
    }
}

@keyframes moveFromTop{
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.animate{
    animation: moveFromTop .35s ease-in;

}