.u-marginB-vsmall{
    margin-bottom: 1.5rem;
}
.u-marginB-small{
    margin-bottom: 2.5rem;
}
.u-marginB-medium{
    margin-bottom: 4rem;
}
.u-marginB-big{
    margin-bottom: 6rem;
}

.u-marginT-vsmall{
    margin-top: 1.5rem;
}