.section__shows {
  padding: 5rem 0;
  background-color: $bluish-black;
}

.shows__text {
  text-align: center;
  &--p {
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: $lh132;
    letter-spacing: 0;
  }
}

.shows__movie {
  &-flex {
    display: flex;
    justify-content: space-between;
    gap: 1.9rem;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    position: relative;
  }

  &-child {
    &--img {
      width: 100%;
    }
  }

  &--p {
    color: $color-white;
    position: absolute;
    bottom: -2rem;
    right: 0;
    opacity: 0.7;
  }
}

.section__better {
  background-color: $bluish-black;
  padding: 10rem 0;

  .better__content {
    text-align: center;

    &--p {
      color: $color-white;
      width: 60%;
      margin: 0 auto;
      font-weight: 400;
      letter-spacing: 0;
    }

    &--p1 {
      font-size: 1.8rem;
      line-height: $lh132;
      opacity: .95;
    }

    &--p2 {
      font-size: 1rem;
      color: hsla(0, 0%, 100%, 0.6);
      line-height: 1.46;
      padding: 2.5rem 0 2rem 0;
    }

    &--btn{
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: .6;
        color: $color-white;
        opacity: .8;
    }

    &--dropdown{
        display: block;
        padding: 3rem 0;
        transition: all .4s;
        // animation: bounce 1s ease-in-out infinite;
        
        &-img{
            animation: bounce 1.3s ease-in infinite;
        }
    }
  }
}

.section__sport{
    padding: 10rem 0;
    position: relative;
    background-image: url(/img/green-bg.jpeg);
    background-size: 120%;
    height: 100vh;

    .sport__content{
        width: 75%;
        margin: auto;

        &--texts{
            width: 45%;
        }

        &--p{
            color: $color-white;
            font-weight: 400;
        }
    }

    .headlines__flex{
        display: flex;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.125;
        width: 50%;
        color: #ffffff66;
        text-transform: uppercase;
    }

    .headlines__text{
        &:not(:last-child){
            margin-right: 5rem;
        }
    }
}



