.section__shows {
  padding: 5rem 0;
  background-color: $bluish-black;
}

.shows__text {
  text-align: center;
  &--p {
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: $lh132;
    letter-spacing: 0;
  }
}

.shows__movie {
  &-flex {
    display: flex;
    justify-content: space-between;
    gap: 1.9rem;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    position: relative;
  }

  &-child {
    &--img {
      width: 100%;
    }
  }

  &--p {
    color: $color-white;
    position: absolute;
    bottom: -2rem;
    right: 0;
    opacity: 0.7;
  }
}

.section__better {
  background-color: $bluish-black;
  padding: 10rem 0;

  .better__content {
    text-align: center;

    &--p {
      color: $color-white;
      width: 60%;
      margin: 0 auto;
      font-weight: 400;
      letter-spacing: 0;
    }

    &--p1 {
      font-size: 1.8rem;
      line-height: $lh132;
      opacity: 0.95;
    }

    &--p2 {
      font-size: 1rem;
      color: hsla(0, 0%, 100%, 0.6);
      line-height: 1.46;
      padding: 2.5rem 0 2rem 0;
    }

    &--btn {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.6;
      color: $color-white;
      opacity: 0.8;
    }

    &--dropdown {
      display: block;
      padding: 3rem 0;
      transition: all 0.4s;
      // animation: bounce 1s ease-in-out infinite;

      &-img {
        animation: bounce 1.3s ease-in infinite;
      }
    }
  }
}

.section__sport {
  padding: 10rem 0;
  position: relative;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) -57.5%,
      rgba(0, 0, 0, 0) 98.72%
    ),
    url(/img/green-bg.jpeg);
  background-size: 121%;
  height: 100vh;

  .sport__content {
    width: 75%;
    margin: auto;
    margin-top: 10rem;
    transition: all 0.35s;

    &--texts {
      width: 50%;
    }

    &--p {
      color: $color-white;
      font-weight: 400;
      letter-spacing: 0;
    }

    &--p1 {
      font-size: 1.8rem;
      line-height: $lh132;
    }

    &--p2 {
      font-size: 1rem;
      line-height: $lh146;
      color: $light-grey2;
    }

    &--logo-flex {
      display: flex;
    }

    &--logo-box {
      background-color: $color-white;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      position: relative;

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }

    &--logo-img {
      width: 95%;
      @include center-vertical-horizontal;
    }

    &--link {
      color: inherit;
    }
  }

  .headlines__flex {
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.125;
    width: 50%;
    color: $light-grey2;
    text-transform: uppercase;
    // transition: all 1s;
    position: relative;

    &--bottom-slider {
        position: absolute;
        top: 2.5rem;
        bottom: 0;
        left: 0;
      //   border-bottom: 5px solid $color-white;
      background-color: $color-white;
      height: .7rem;
      width: 8.5rem;
    }
  }

  .headline__active {
    color: $color-white;
  }

  .headlines__text {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 5rem;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
