.section__shows {
  padding: 5rem 0;
  background-color: $bluish-black;
}

.shows__text {
  text-align: center;
  &--p {
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.32;
    letter-spacing: 0;
  }
}

.shows__movie {
  &-flex {
    display: flex;
    justify-content: space-between;
    gap: 1.9rem;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    position: relative;
  }

  &-child {
    &--img {
      width: 100%;
    }
  }

  &--p {
    color: $color-white;
    position: absolute;
    bottom: -2rem;
    right: 0;
    opacity: 0.7;
  }
}

.section__better {
  background-color: $bluish-black;
  padding: 10rem 0;

  .better__content {
    text-align: center;
    &--p {
      color: $color-white;
      width: 60%;
      margin: 0 auto;
      font-weight: 400;
      letter-spacing: 0;
    }

    &--p1 {
      font-size: 1.8rem;
      line-height: 1.32;
    }

    &--p2 {
        font-size: 1rem;
        color: hsla(0,0%,100%,.6);
        line-height: 1.46;
        padding: 2.5rem 0 2rem 0;
    }
  }
}
