.footer{
    background-color: $footer-bg;
    height: 82vh;
    position: relative;
    
    &__container{
        @include margin-auto2;
        @include center-vertical-horizontal;

        &--flex{
            display: flex;
            
            &--left{    
                flex-basis: 70%;
                border: 1px solid red;
                margin-right: 2.5rem;


                &--h3{
                    font-size: 1.2rem;
                    font-weight: 500;
                    line-height: 1;
                    letter-spacing: 0.6px;
                    text-transform: uppercase;
                }

                &--nav-flex{
                    display: flex;
                    justify-content: space-between;
                    &--ul{
                        list-style: none;
                        &--child{
                            margin-top: .8rem;
                        }
                    }
                }
            }

            &--right{
                flex-basis: 25%;
                display: flex;
                justify-content: space-between;
                border: 1px solid blue;

            }

            &--link{
                color: $footer-link;
                text-decoration: none;
                font-size: $default-font-size;
                font-weight: 400;
                line-height: 1.4;
                letter-spacing: 0;
            }
        }
    }
}