.header{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), transparent), url(/img/header-bg.jpeg);
    background-size: 150%;
    background-position: center;
    height: 100vh;

    &__nav{
        width: 93%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
    }
    
    &__logo{    
        width: 270%;
    }

    &__content{
        text-align: center;
        margin-top: 3rem;

        &--h2{
            color: $color-white;
            font-size: 2.4rem;
            line-height: 1.24;
        }

        &--img{
            width: 40%;
        }
    }
}