.header{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), transparent), url(/img/header-bg.jpeg);
    background-size: cover;
    height: 100vh;

    &__nav{
        width: 92%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 0;
    }

    &__logo-box{
    }
    
    &__logo{    
        width: 250%;
    }
}